.basic-card:hover h3 {
  color: var(--color-accent);
  }

.basic-card:hover .icon svg {
  fill: var(--color-accent);
}

.basic-card {
  border: 3px solid var(--color-whatever);
  background-color: var(--color-secondary);
}
