.masthead {
  border-bottom: .2em solid;
  border-top: .5em solid;
  text-align: center;
}

.nav ol{
  position: relative;
  background-color: var(--color-secondary);
  z-index: 2;
  color: var(--color-primary);
  text-decoration: none;
}

.nav ol:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

nav ol .selection {
  background-color: var(--color-secondary);
  color: #fff;
  border-radius: 5px;
}

.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-primary);
  color: var(--color-primary);
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--color-whatever);
  border-color: var(--color-primary);
  color: #fff;
  transition: all 250ms ease;
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
  border-radius: 5px;
}

.btn-ghost:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
  transition: all 250ms ease;
  border-radius: 5px;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
}

nav {
  float: right;
}

h1 {
  color: var(--color-primary);
  float: left;
}

@media only screen and (min-width: 38em) {

  .masthead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

}
