.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-primary);
  color: var(--color-primary);
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--color-whatever);
  border-color: var(--color-primary);
  color: #fff;
  transition: all 250ms ease;
}

.btn-light {

}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);

  color: var(--color-primary);
}
