:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-accent: #967fa9;
  --color--whatever: #062733;

  --font-primary: "Oswald", sans-serif;
  --fony-secondary: "Anton", sans-serif;
}

html {
  font-family: var(--font-primary);
}
