:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-accent: #967fa9;
  --color-whatever: #062733;
  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Anton", sans-serif;
  --border-radius: 4px;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-primary);
  font-family: var(--font-secondary);
}

a {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  text-decoration: none;
}

h3 {
  font-family: var(--font-secondary);
}

p {
  font-family: var(--font-primary);
}

.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-primary);
  color: var(--color-primary);
  border-radius: 5px;
  text-decoration: none;
}
